@import url('https://fonts.googleapis.com/css?family=Libre+Caslon+Text&display=swap');

html {
  font-family: 'Libre Caslon Text', georgia, serif;
  background-color: gray;
}

body {
  background-color: white;
}

